#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:playlists, as:'playlist'}
<div class="content box">
  <h1 class="title">
    ${playlist.title}
  </h1>
  <p>
    Duration: ${playlist.duration}
  </p>
  <p>
    <a href="/playlists/${playlist.id}">
      <span class="icon-text has-text-info">
      <span class="icon">
      <i class="fas fa-folder-open"></i>
      </span>
      </span>
    </a>
    <a href="#">
      <span class="icon-text has-text-danger">
      <span class="icon">
      <i class="fas fa-trash"></i>
      </span>
      </span>
    </a>
  </p>
</div>
#{/list}

